---
title: Creating Your Apps Home
parent: Creating Your Apps
section: Creating Your Apps
description: This section provides guidance on submitting your apps to the app stores
---

<article class="landing-page-wrapper">
  <h1>{{ page.title }}</h1>
  <section class="landing-page-header" id="landing_page_header">
    <p>{{ page.description }}</p>
  </section>
  <section class="card-wrapper">
    {% for item in site.data.navigation %}
      {% if item.section == page.section %}
      <section class="bcls-card">
        <div class="card-icon">
          <i class="fal fa-rocket-launch"></i>
        </div>
        <div class="card-content">
          <h3 class="landing-page-item-header">{{ item.section }} Topics</h3>
          <ul class="landing-page-item list-none">
            {% for entry in item.docs %}
              <li><a href="{{ entry.url }}">{{ entry.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
  </section>
      {% endif %}
    {% endfor %}
  </section>
</article>
