<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <nav class="sidenav">
        <h5><a href="/">Home</a></h5>
        {% for section in site.collections %}
          <h5 class="submenu-header">{{ section.title }}</h5>
            <ul class="sidenav-submenu">
              {% for item in site.collections.{{ section }}.pages %}
                <li><a href="{{ section.path }}{{ item.filename }}">{{ item.title }}</a></li>
              {% endfor %}
            </ul>
      {% endfor %}
    </nav>
  </div>
  <div class="col-sm-9">
<!-- bootstrap layout -->
