---
title: References Home
parent: Home
section: References
description: This section contains reference information
---
<article class="landing-page-wrapper">
  <h1>{{ page.title }}</h1>

  <section>
    <table width="100%" border="0">
      <tbody>
        <tr>
          <th width="50%" scope="col">
            <h4>General Information</h4>
          </th>
          <th width="1%" scope="col">&nbsp;</th>
          <th width="49%" scope="col">
            <h4>Architecture</h4>
          </th>
        </tr>
        <tr>
          <td valign="top">
            <ul>
              <li><a href="/references/glossary.html">Glossary</a></li>
              <li><a href="/references/known-issues.html">Known Issues</a></li>
              <li><a href="/references/product-updates.html">Product Updates</a></li>
              <li><a href="/references/related-content.html">Related Content</a></li>
              <li><a href="/references/supported-video-and-audio-formats-codecs-and-containers.html">Supported Video and Audio Formats, Codecs, and Containers</a></li>
              <li><a href="/references/common-configuration-settings.html">Common Configuration Settings</a></li>
              <li><a href="/references/delete-app-user.html">Deleting an App User</a></li>
              <li><a href="/references/how-beacon-gets-data.html">How Brightcove Beacon Gets Data</a></li>
              <li><a href="/references/related-content.html">Related Content</a></li>
              <li><a href="/references/remote-asset-limitations.html">Remote Asset Limitations</a></li>
              <li><a href="/references/beacon-tasks-in-vc.html">Brightcove Beacon Tasks Performed in Video Cloud</a></li>
            </ul>
          </td>
          <td>&nbsp;</td>
          <td valign="top">
            <ul>
              <li><a href="/references/overview-context-aware-encoding.html">Overview of Context Aware Encoding</a></li>
              <li><a href="/references/overview-dynamic-delivery.html">Overview of Dynamic Delivery</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <table width="100%" border="0">
      <tbody>
        <tr>
          <th width="50%" scope="col">
            <h4>Cookie Consent</h4>
          </th>
          <th width="1%" scope="col">&nbsp;</th>
          <th width="49%" scope="col">
            <h4>Notifications</h4>
          </th>
        </tr>
        <tr>
          <td valign="top">
            <!--  -->
            <ul>
              <li><a href="/references/managing-cookie-consent.html">Managing Cookie Compliance Using OneTrust Cookie Consent</a></li>
            </ul>
          </td>
          <td>&nbsp;</td>
          <td valign="top">
            <ul>
              <li><a href="/using-brightcove-beacon/sending-app-notifications.html">Sending App Notifications</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <table width="100%" border="0">
      <tbody>
        <tr>
          <th width="50%" scope="col">
            <h4>Authentication</h4>
          </th>
          <th width="1%" scope="col">&nbsp;</th>
          <th width="49%" scope="col">
            <h4>Styling</h4>
          </th>
        </tr>
        <tr>
          <td valign="top">
            <ul>
              <li><a href="/using-brightcove-beacon/authentication-using-oauth.html">Authentication Using OAuth</a></li>
              <li><a href="/references/oidc-authentication-for-beacon.html">OIDC Authentication Configuration and Testing</a></li>
              <li><a href="/beacon-web-store/integration-details.html">OIDC Example: Integrating with the Beacon Web Store</a></li>
              <li><a href="/references/login-durations.html">Login Durations</a></li>
            </ul>
          </td>
          <td>&nbsp;</td>
          <td valign="top">
            <ul>
              <li><a href="/references/branding-beacon-apps.html">Branding Brightcove Beacon Apps</a></li>
              <li><a href="/references/image-requirements.html">Images and Their Specifications</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </section>



  <!--   <section class="landing-page-header" id="landing_page_header">
    <p>{{ page.description }}</p>
  </section>
  <section class="card-wrapper">
    {% for item in site.data.navigation %}
    {% if item.name == page.section %}
    <section class="bcls-card">
      <div class="card-content">
        <h2 class="landing-page-item-header">{{ item.name }} Topics</h2>
        <ul class="bcls-topic-list">
          {% for entry in item.docs %}
          <li><a href="{{ entry.url }}">{{ entry.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endif %}
    {% endfor %}
  </section> -->
</article>